html, body {
  background-color: #343434;
}

body > .container {
  background-color: #fff;
  margin-top: 90px;
  padding: 20px;
}

footer.footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
footer.footer ul li {
  paddingL 5px;
}
