html, body {
}

body > .dark-background {
  background-color: #343434;
  padding-bottom: 20px;
  padding-top: 70px;
}

body > .container {
  margin-top: 90px;
  padding: 20px;
}

.container .post {
  background-color: #fff;
  padding: 20px;
}

footer.footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
footer.footer ul li {
  paddingL 5px;
}
