<footer class="footer">
    <div class="container">
        <p class="text-muted col-md-4">Thanks for reading</p>
        <div class="col-md-4">
            <h4>Latest blog posts</h4>
            <ul>
                {% for post in site.posts limit:2 %}
                <li><a href="{{ post.url }}&ghcommentid={{ post.ghcommentid }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Pages</h4>
            <ul>
                {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
                {% for p in navigation_pages %}
                    {% if p.navigation_weight %}
                        <li><a href="{{ p.url }}">{{ p.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>
