<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <meta content="The Crap I Wrote, To Make Stuff Work." name="description">
        <meta content="Wouter Saaltink" name="author">
        <title> Getting started &middot; Bootstrap </title>
        <link href=../dist/css/bootstrap.min.css rel=stylesheet>
        <link href=../assets/css/docs.min.css rel=stylesheet>
    </head>
    <body>
      {{ conetnt }}
    </body>
</html>
