<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <meta content="The Crap I Wrote, To Make Stuff Work." name="description">
        <meta content="Wouter Saaltink" name="author">
        <link media="all" rel="stylesheet" href="/css/styles.css" />
        <title>{{ page.title }} - The Crap I Wrote.</title>
    </head>
    <body>
      {{ content }}
    </body>
</html>
